@font-face {
    font-family: "Suisse Screen";
    font-weight: 200;
    src: url(../fonts/SuisseScreen-Light-WebS.woff2) format("woff2");
}

@font-face {
    font-family: "Suisse Screen";
    font-weight: 400;
    src: url(../fonts/SuisseScreen-Regular-WebS.woff2) format("woff2");
}

@font-face {
    font-family: "Suisse Screen";
    font-weight: 500;
    src: url(../fonts/SuisseScreen-Medium-WebS.woff2) format("woff2");
}

@font-face {
    font-family: "Suisse Screen";
    font-weight: 600;
    src: url(../fonts/SuisseScreen-SemiBold-WebS.woff2) format("woff2");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-bg: hsl(0, 0%, 95%);
    --clr-txt: hsl(0, 0%, 0%);
    --clr-acc: hsl(240, 100%, 50%);
    --border-width: 0.125rem;
    --fraction: calc(1 / 6 * 100);
    --size-m: 1.5rem;
    --size-xxl: 3rem;
}

html {
    font-family: "Suisse Screen";
    font-size: 20px;
}

body {
    margin: 0;
    color: var(--clr-txt);
    background-color: var(--clr-bg);
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

main {
    border-top: 2px solid var(--clr-acc);
}

.main-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    padding-inline: 1rem;
}

.text-acc {
    color: var(--clr-acc);
}

.fs-normal {
    font-size: 1rem;
}

.fs-m {
    font-size: var(--size-m);
}

.fs-xxl {
    font-size: var(--size-xxl);
}

.page-header {
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-weight: 400;
    font-size: var(--size-m);

    grid-column: span 2;
}

.logo-link {
    color: var(--clr-black);
}

.logo,
.main-nav__link {
    font-size: var(--size-m);
}

.main-nav {
    grid-column: span 4;
}

.main-nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    padding-left: 0;
    list-style: none;
}

.main-nav__link {
    color: var(--clr-black);
}
